<div class="Footer">
  <div class="Footer-section">
    <p class="title">Jewelry Store</p>
    <ul>
      <li><a>STORY</a></li>
      <li><a>NEWS</a></li>
      <li><a>VIDEOS</a></li>
      <li><a>INSPIRE</a></li>
      <li><a>STOCKISTS</a></li>
      <li><a>THE EDIT</a></li>
      <li><a>REVIEWS</a></li>
    </ul>
  </div>
  <div class="Footer-section">
    <p>Help With...</p>
    <ul>
      <li><a>DELIVERY</a></li>
      <li><a>RETURNS</a></li>
      <li><a>DD REWARDS</a></li>
      <li><a>FAQS</a></li>
      <li><a>SIZE GUIDES</a></li>
      <li><a>T'S & C'S</a></li>
      <li><a>PRIVACY POLICY</a></li>
    </ul>
  </div>
  <div class="Footer-section">
    <p>Contact</p>
    <ul>
      <li><a>ORDER ENQUIRIES</a></li>
      <li><a>GENERAL ENQUIRIES</a></li>
      <li><a>PRESS FEATURES</a></li>
      <li><a>OUR STORES</a></li>
      <li><a>VACANCIES</a></li>
      <li><a>HALLMARKING</a></li>
    </ul>
  </div>
  <div class="Footer-section">
    <p>Follow</p>
    <ul>
      <li><a>INSTAGRAM</a></li>
      <li><a>FACEBOOK</a></li>
      <li><a>TWITTER</a></li>
    </ul>
  </div>
</div>
