.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #d3d3d3;
}

.Footer-section > p {
  font-size: 20px;
  padding-left: 1rem;

}

.Footer-section > ul {
  list-style: none;
}

.Footer-section > ul > li {
  font-size: 16px;
  margin: .5rem 0;
}