<div class="Footer">
  <div class="Footer-section">
    <p class="title">Jewelry Store</p>
    <ul>
      <li>STORY</li>
      <li>NEWS</li>
      <li>VIDEOS</li>
      <li>INSPIRE</li>
      <li>STOCKISTS</li>
      <li>THE EDIT</li>
      <li>REVIEWS</li>
    </ul>
  </div>
  <div class="Footer-section">
    <p>Help With...</p>
    <ul>
      <li>DELIVERY</li>
      <li>RETURNS</li>
      <li>DD REWARDS</li>
      <li>FAQS</li>
      <li>SIZE GUIDES</li>
      <li>T'S & C'S</li>
      <li>PRIVACY POLICY</li>
    </ul>
  </div>
  <div class="Footer-section">
    <p>Contact</p>
    <ul>
      <li>ORDER ENQUIRIES</li>
      <li>GENERAL ENQUIRIES</li>
      <li>PRESS FEATURES</li>
      <li>OUR STORES</li>
      <li>VACANCIES</li>
      <li>HALLMARKING</li>
    </ul>
  </div>
  <div class="Footer-section">
    <p>Follow</p>
    <ul>
      <li>INSTAGRAM</li>
      <li>FACEBOOK</li>
      <li>TWITTER</li>
    </ul>
  </div>
</div>
