.ProductCard {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2rem 2rem;
  padding-bottom: 2rem;
}

.ProductCard > img {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.ProductCard-name {
  color: #404040;
  text-align: center;
}

.ProductCard-price {
  color: darkgray;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .ProductCard > img {
    width: 100%;
    max-height: 300px;
  }
}