

.Nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.icon {
  height: 60px;
}

.Nav-links {
  display: flex;
  list-style-type: none;
  width: 50vw;
  align-items: center;
  justify-content: space-around;
}

a {
  cursor: pointer;
}

a:hover {
  color: #404040;
}