.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 60px;
}

.Nav-links {
  display: flex;
  list-style-type: none;
  width: 50vw;
  align-items: center;
  justify-content: space-around;
}