.Products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .Products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}