<div class="Panels">
  <div class="Panels-image-1">
    <img src="./assets/model-02.webp" />
    <h2>This summer's look</h2>
  </div>
  <div class="Panels-image-2">
    <img src="./assets/model-03.jpg">
    <h2>Incredibly unique, designed & handmade</h2>
  </div>
  <div class="Panels-symbol">
    <span class="symbol">w</span>
    <h1 class="symbol-text">As worn by Wanda</h1>
  </div>
  <div class="Panels-section">
    <div class="latest">
      <h2>Latest from <br/>Instagram</h2>
    </div>
    <div>
      <img class="quart" src="./assets/quart.jpg" />
    </div>
    <div class="Panels-social-icons">
      <div><img src="./assets/fbicon.svg"/></div>
      <div><img src="./assets/twitter.svg"/></div>
      <div><img src="./assets/pinicon.svg" /></div>
      <div><img src="./assets/instaicon.svg"/></div>
    </div>
  </div>
</div>